<div style="width: 100%; display: flex;flex-direction: column;">
  <div text="text" class="mb-input p-4 rounded-lg" style="background-color: var(--ls-secondary-background-color);" id="{{id}}" {{dataBindings}} >{{value}}</div>
  <!-- <textarea class="mb-input" id="{{id}}" value="{{value}}" {{bindings}}>{{value}}</textarea> -->
  <label style="visibility: hidden; height:0;">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</label>
</div>
<!-- 这个组件少了个 children -->